services:
  pathcov:
    image: sonnyz789123/pathcov-image:2.1.0
    environment:
      - ENV=prod
      - DATA_DIR=${CONTAINER_DATA_DIR}
      - CONFIGS_DIR=${CONTAINER_CONFIGS_DIR}
      - SCRIPTS_DIR=${CONTAINER_SCRIPTS_DIR}
      - SUT_DIR=${CONTAINER_SUT_DIR}
      - DEPS_DIR=${CONTAINER_DEPS_DIR}
    container_name: pathcov
    volumes:
      - pipeline-data:${CONTAINER_DATA_DIR}
      - ./pathcov/configs:${CONTAINER_CONFIGS_DIR}:ro
      - ./pathcov/scripts:${CONTAINER_SCRIPTS_DIR}:ro
    working_dir: /pathcov-project
    stdin_open: true
    tty: true

  jdart:
    image: sonnyz789123/jdart-image:2.1.0
    platform: linux/amd64
    environment:
      - ENV=prod
      - DATA_DIR=${CONTAINER_DATA_DIR}
      - CONFIGS_DIR=${CONTAINER_CONFIGS_DIR}
      - SCRIPTS_DIR=${CONTAINER_SCRIPTS_DIR}
      - SUT_DIR=${CONTAINER_SUT_DIR}
      - DEPS_DIR=${CONTAINER_DEPS_DIR}
    container_name: jdart
    volumes:
      - pipeline-data:${CONTAINER_DATA_DIR}
      - ./jdart/configs:${CONTAINER_CONFIGS_DIR}:ro
    working_dir: /jdart-project
    stdin_open: true
    tty: true

volumes:
  pipeline-data:
