services:
  pathcov:
    image: sonnyz789123/pathcov-image:2.0.0
    environment:
      - ENV=prod
      - DATA_DIR=/data
      - CONFIGS_DIR=/configs
      - SCRIPTS_DIR=/scripts
      - SUT_DIR=/sut
    container_name: pathcov
    volumes:
      - pipeline-data:/data
      - ./pathcov/configs:/configs:ro
      - ./pathcov/scripts:/scripts:ro
      - ${SUT_DIR}:/sut
    working_dir: /pathcov-project
    stdin_open: true
    tty: true

  jdart:
    image: sonnyz789123/jdart-image:2.0.0
    platform: linux/amd64
    environment:
      - ENV=prod
      - DATA_DIR=/data
      - CONFIGS_DIR=/configs
      - SCRIPTS_DIR=/scripts
      - SUT_DIR=/sut
    container_name: jdart
    volumes:
      - pipeline-data:/data
      - ./jdart/configs:/configs:ro
      - ${SUT_DIR}:/sut
    working_dir: /jdart-project
    stdin_open: true
    tty: true

volumes:
  pipeline-data:
