services:
  pathcov:
    image: pathcov-image:1.0.0
    environment:
      - ENV=prod
    container_name: pathcov
    volumes:
      - pipeline-data:/data
      - ./pathcov/configs:/configs:ro
      - ./pathcov/scripts:/scripts:ro
      - ${SUT_DIR}:/sut
    working_dir: /pathcov-project
    stdin_open: true
    tty: true

  jdart:
    image: jdart-image:1.0.1
    platform: linux/amd64
    environment:
      - ENV=prod
    container_name: jdart
    volumes:
      - pipeline-data:/data
      - ./jdart/configs:/configs:ro
      - ${SUT_DIR}:/sut
    working_dir: /jdart-project
    stdin_open: true
    tty: true

volumes:
  pipeline-data:
